.back-button {
  padding: 4px 12px 4px 12px;
  color: whitesmoke;
  background-color: DarkSlateGray;
  border: none;
  border-radius: 4px;
}

.movie-card {
  max-width: 800px;
  margin: 0 auto;
}

.movie-view-container {
  max-height: 95vh;
  margin: 0 auto;
  overflow-y: auto;
}
